# --- Cœur de l'API ---
fastapi
uvicorn
python-multipart
aiofiles
requests

# --- Base de données ---
sqlalchemy
asyncpg
psycopg2-binary

# --- Configuration & Validation ---
pydantic
pydantic-settings
email-validator

# --- Sécurité ---
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]

# --- IA & Traitement Audio ---
tensorflow-cpu
librosa
soundfile   
numpy<2.0
noisereduce
scipy
joblib    
scikit-learn>=1.2.2



